/* logo */
.logo {
    color: $accent-color;
    font-family: $logo-font,sans-serif;
    font-size: 26px;
    line-height: 1.19;  
  }
  
  .header-logo {
    margin-right: 93px;
  }
  .logo-secondary {
    color: $white-color;
  } 